@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f5f5f5;
  color: #000;
  overflow-x: hidden !important;
}

.dark body {
  background: #050505;
  color: #fff;
  overflow-x: hidden !important;
}

* {
  font-family: "Lexend Deca", sans-serif;
  cursor: none !important;
}

.weight-900 {
  font-weight: 900;
}

.weight-800 {
  font-weight: 800;
}

.weight-700 {
  font-weight: 700;
}

.weight-600 {
  font-weight: 600;
}

.weight-500 {
  font-weight: 500;
}

.weight-400 {
  font-weight: 400;
}

.weight-300 {
  font-weight: 300;
}

.weight-200 {
  font-weight: 200;
}

.weight-100 {
  font-weight: 100;
}

.color-layout {
  --color: #;
  left: 0;
  top: 0;
  bottom: 0;
  max-width: 100%;
  width: 100%;
  filter: blur(44px);
  opacity: 25%;
  z-index: -1;
  position: fixed;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(183, 183, 138);
  border-radius: 9px;
  border: 2px solid rgb(183, 183, 138);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(24, 24, 20);
}

.layout-blue {
  background: radial-gradient(
    at 150% 0%,
    rgba(255, 217, 0, 0.589) 0,
    transparent 50%
  );
  animation: fade-in-out 15s infinite;
}

.layout-purple {
  top: 25%;
  background: radial-gradient(
    at 0% 150%,
    rgba(169, 166, 235, 0.329) 0,
    transparent 50%
  );
  animation: fade-in-out 10s infinite;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.layout-blue:hover,
.layout-purple:hover,
.layout-blue:active,
.layout-purple:active {
  animation: none;
  opacity: 1;
}

.blockquote {
  border-left: 4px solid #333;
  margin: 1em 0;
  padding-left: 1em;
  font-style: italic;
}

.down-arrow {
  position: absolute;
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
}

.custom-type-animation-cursor::after {
  content: "|";
  animation: cursor 1.1s infinite step-start;
}
@keyframes cursor {
  50% {
    opacity: 50;
  }
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 12px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 50px;
  }
  100% {
    margin-top: 0;
  }
}
